.ButtonMenu {
    width : 50%;
    height : 100px;
    background-color:cornflowerblue;
    margin : auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;

}

a ButtonMenu {
    text-decoration: none;
}