.ButtonMenu {
    width : 80%;
    height: 100px;
    background-color:lightblue;
    margin : auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0px 1px 2px 0px #6665cd; 
}

a ButtonMenu {
    text-decoration: none;
}

.menu {
    margin-top: 20px;
}