.ButtonMenu {
    width : 80%;
    height: 100px;
    background-color:lightblue;
    margin : auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0px 1px 2px 0px #6665cd; 
}


.menu {
    margin-top: 20px;
}

.divText {
    width: 50%;
    display : inline-block;
    text-decoration: none;
    margin-top : 20px;
    font-family: Georgia, "DejaVu Serif", Norasi, serif;

    
}

.divIcon {
    width: 39%;
    display : inline-block;
    margin-top : 20px;
    text-align: right;
}